# Virtual environment
.venv

# Python cache
__pycache__/
*.pyc

# Environment variables
.env
.*-env
.env.local
.deployment-env

# IDE/editor files
.vscode/
.idea/


# infrastructure
.terraform/
*.tfstate
*.tfstate.*
inventory.yaml


*.pem
*.key

*.tfvars

linux-server-prometheus.yml