GF_SECURITY_ADMIN_USER=${grafana_username}
GF_SECURITY_ADMIN_PASSWORD=${grafana_password}
PROMETHEUS_URL=http://prometheus:9090
VM_HOST=${vm_host}
GF_SERVER_DOMAIN=${grafana_server_domain}
GF_SERVER_ROOT_URL=${grafana_root_server_url}